body {
    margin: 0;
    font-family: 'Comic Neue', cursive;
    height: 100vh;
    width: 100vw;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: black;
    color: white;
}

.fade-up {
    animation: fade-up 500ms cubic-bezier(0, 0.55, 0.45, 1);
    animation-fill-mode: backwards;
    
    &.delay-500 {
        animation-delay: 500ms;
    }
    
    @keyframes fade-up {
        from {
            transform: translateY(200%);
            opacity: 0;
        }
        to {
            transform: translateY(0);
            opacity: 1;
        }
    }
}

h1 {
    font-size: 4em;
    font-weight: 300;
    margin: 0;
}

h2 {
    font-size: 2em;
    font-weight: 300;
}


